<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {% comment %} SEO Tags {% endcomment -%}
  {% include seo_tags.html %}
  <title>
    {%- if page.title == "首页" -%}
      {{ site.title }} &middot; {{ site.tagline }}
    {%- else -%}
      {{ page.title }} &middot; {{ site.title }}
    {%- endif -%}
  </title>

  <!-- CSS -->
  {% if site.env == "production" -%}
  <link rel="stylesheet" href="/public/dist/style.74a91.min.css">
  {% else -%}
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  {% endif -%}
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abril+Fatface|Noto+Serif+SC&display=fallback" media="print" onload="this.media='all'">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
