---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    {% if page.last_modify_date %}
      {{ page.last_modify_date }} updated
    {% else %}
      {{ page.date | date: "%Y-%m-%d" }}
    {% endif %}
  </span>
  <!-- tags -->
  <span>[
    {% for tag in page.tags %}
      <code class="highligher-rouge">{{ tag }}</code>
    {% endfor %}
  ]</span>

  {{ content }}
</div>

{% assign dq_url = site.url | append: page.url %}

{% if site.env == "production" and page.commentable != false %}
<div id="disqus_thread" style="margin: .5rem 0;">Disqus is loading...</div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ dq_url }}';          // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
</script>
{% endif %}

{% if site.related_posts %}
  <div class="related">
    <h2>猜你不喜欢:</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date: "%Y-%m-%d" }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
